[Unit]
Description=AWG Telegram Bot local autobackup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/amnezia/bot/scripts/awg-tgbot-autobackup.sh
